@charset "utf-8";

/** FONTS! **/
@font-face {
    font-family: 'QuicksandBookObliqueRegular';
    src: url('fonts/quicksand_book_oblique-webfont.eot');
    src: url('fonts/quicksand_book_oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand_book_oblique-webfont.woff') format('woff'),
         url('fonts/quicksand_book_oblique-webfont.ttf') format('truetype'),
         url('fonts/quicksand_book_oblique-webfont.svg#QuicksandBookObliqueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'QuicksandBookRegular';
    src: url('fonts/quicksand_book-webfont.eot');
    src: url('fonts/quicksand_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand_book-webfont.woff') format('woff'),
         url('fonts/quicksand_book-webfont.ttf') format('truetype'),
         url('fonts/quicksand_book-webfont.svg#QuicksandBookRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'QuicksandLightRegular';
    src: url('fonts/quicksand_light-webfont.eot');
    src: url('fonts/quicksand_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand_light-webfont.woff') format('woff'),
         url('fonts/quicksand_light-webfont.ttf') format('truetype'),
         url('fonts/quicksand_light-webfont.svg#QuicksandLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'QuicksandLightObliqueRegular';
    src: url('fonts/quicksand_light_oblique-webfont.eot');
    src: url('fonts/quicksand_light_oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand_light_oblique-webfont.woff') format('woff'),
         url('fonts/quicksand_light_oblique-webfont.ttf') format('truetype'),
         url('fonts/quicksand_light_oblique-webfont.svg#QuicksandLightObliqueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'QuicksandBoldObliqueRegular';
    src: url('fonts/quicksand_bold_oblique-webfont.eot');
    src: url('fonts/quicksand_bold_oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand_bold_oblique-webfont.woff') format('woff'),
         url('fonts/quicksand_bold_oblique-webfont.ttf') format('truetype'),
         url('fonts/quicksand_bold_oblique-webfont.svg#QuicksandBoldObliqueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
	{ margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
html, body { width:100%; margin:0; padding:0; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
a:focus { outline: 1px dotted #cfc; }
ins { text-decoration: none; background-color: #cfc; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }




/** Setup & Helpers **/
h1,h2,h3,h4,h5,h6 { font-family:'QuicksandBookRegular'; }
h1 { font-size:4em; }
h2 { font-size:2.2em; }
h3 { font-size:1.8em; }
h4 { font-size:1.6em; }
h5 { font-size:1.4em; }
h6 { font-size:1.2em; }

::selection { background: #ffb7b7; }

a { color:#0776A0; text-decoration:none; }
a:active { color:#0776A0; }
a:hover { color:#A65600; text-decoration:underline; }
a:visited { color:#A65600; }


.alignleft { float: left; }
.alignright { float: right; }
.aligncenter { margin: 0 auto; }
img.alignleft { margin-right: 8px; margin-bottom: 8px; }
img.alignright { margin-left: 8px; margin-bottom: 8px; }

.clearleft { clear: left; }
.clearright { clear: right; }
.clearcenter { clear: both; }

.message { width: 80%; padding: 8px; margin: 8px auto; border: 2px solid; color: #000; }
.message.failure { border-color: #c00; background-color: #fcc; }
.message.warning { border-color: gold; background-color: #ff9; }
.message.success { border-color: #060; background-color: #cfc; }
.message.new { border-color: #009; background-color: #e1e3fd; }
.message.note { border-color: #ccc; background-color: #eee; }




/** Main Styles **/
body { 
    background:#DDD url(img/vintage_speckles.png) left top repeat; 
    font:normal 1em 'QuicksandBookRegular'; 
    color:#194556; 
    -webkit-transition:font-size 2s; 
    -moz-transition:font-size 2s; 
    -o-transition:font-size 2s; 
    transition:font-size 2s; 
}
#page { width:90%; max-width:768px; margin:0 auto; }

a img { border: none; }
abbr { cursor: pointer; }
sup { position: relative; top: -0.5em; }
sub { position: relative; top: 0.5em; }

#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 { padding-bottom: 0.8em; }

#main table td { vertical-align: top; }
#main table th { vertical-align: middle; }

#main ol { padding: 0 0 1.0em 20px; list-style-type: decimal; }
#main ol ol, #main ol ul { padding-bottom: 0; }
#main ul { padding: 0 0 1.0em 20px; list-style-type: disc; }
#main ul ol, #main ul ul { padding-bottom: 0; }
#main ul>li>ul { list-style-type: circle; }
#main ul>li>ul ul { list-style-type: square; }

#main p { padding-bottom: 1.0em; }
#main blockquote { width: 70%; padding-bottom: 1.0em; margin: 0 auto; }

sup { font-size: 0.8em; }
sub { font-size: 0.8em; }

.init { margin:10% 0 0 0; }
.init h1 { font-family:'QuicksandBookObliqueRegular'; text-shadow:2px 2px 0 #ff8400; letter-spacing:-.05em; }
.init > p { margin:0 0 0 5px; }

.form { 
    margin:60px auto 0 auto; 
    padding:40px 40px 30px 40px; 
    border-radius:12px; 
    background:rgba(25,69,86,.2); 
    overflow:hidden;
    -webkit-transition:background-color .5s ease-in;
}
form ul { }
form ul li { float:left; width:45%; }
form ul li:first-child { margin:0 10% 0 0; }
form ul li:last-child { float:right; }
li label { display:block; color:#111; font-size:1.1em; }
input#tweets,input#pic { width:97%; margin:0; padding:10px 4px; font-family:'QuicksandBoldObliqueRegular'; font-size:1.2em; color:#0776A0; }
input#tweets:focus, input#pic:focus {  }
input#submit { 
	width:20%;
	position:relative; 
	display:block; 
	padding:14px 0; 
	margin:20px auto;
	float:right;
	border:none; 
	border-radius:6px; 
	background:#0776A0; 
	color:#FFF;
	text-shadow:1px 0 0 #000;
	font-family:'QuicksandLightRegular'; 
	font-size:1.8em; 
	text-transform:uppercase;
	cursor:pointer;
	box-shadow:2px 2px 3px #999;
    -webkit-transition:width 1s ease;
    -moz-transition:width 1s ease;
    -o-transition:width 1s ease;
    transition:width 1s ease;
}
input#submit:hover { left:1px; top:1px; box-shadow:1px 1px 2px #555; }
.recent { margin:8px 0 0 0; overflow:hidden; position:relative; }
.recent .head { 
    float:left; 
    text-align:right; 
    margin:0 12px 0 0; 
    color:rgba(191, 122, 48, .8); 
    text-transform:uppercase; 
    line-height:.9em; 
}
.recent .head h5 { letter-spacing:2px; font-family:'QuicksandBookRegular'; font-size:1.1em; }
.recent .head h6 { letter-spacing:0; font-family:'QuicksandLightRegular'; font-size:1em; }
.recent .recentwrap { display:inline-block; width:76%; }
.recent span a { 
    color:rgba(25, 69, 86,.6); 
    padding:1px 2px;
    border-radius:3px; 
    cursor:pointer;
    -webkit-transition:background .5s ease,color .5s ease; 
    -moz-transition:background .5s ease,color .5s ease; 
    -o-transition:background .5s ease,color .5s ease; 
    transition:background .5s ease,color .5s ease; 
}
.recent span a:hover { color:rgba(25, 69, 86,1); background:#FFBC73; }

.theart { position:relative; width:100%; height:1000px; min-height:100%; margin:40px 0 0 0; }
.theart .quotecont { 
	width:67%; 
	margin:0 auto 0 16%; 
	position:absolute; 
	z-index:200;
	top:100px;
    background: rgba(0, 0, 0, .2);
    padding: 12px;
    overflow:hidden;
    text-shadow:2px 2px 2px #000;
    color:#FFF;
}
.theart .thetweet { font:normal 2em 'QuicksandBookRegular'; }
.theart .tweeter { font:normal 1.9em 'QuicksandBookObliqueRegular'; width:100%; text-align:right; }
.theart .date { width:100%; text-align:right; font:normal .85em 'QuicksandBookObliqueRegular';  }
.theart .date a { color:rgba(255,255,255,.6); text-decoration:none;-webkit-transition:color 1s ease; -moz-transition:color 1s ease; -o-transition:color 1s ease; transition:color 1s ease; }
.theart .date a:hover { color:rgba(255,255,255,1); }
.theart .imgwrap { height:auto; position:relative; }
.theart .mainphoto { width:80%; height:auto; margin:0 auto 0 10%; position:relative; z-index:100; border: 12px solid #FFF; }
.theart .imgwrap a {
    width:auto;
    position:absolute;
    left:16%;
    bottom:25px;
    z-index:200;
    color:rgba(255,255,255,.6);
    font-size:.85em;
    -webkit-transition:color 1s ease;
    -moz-transition:color 1s ease;
    -o-transition:color 1s ease;
    transition:color 1s ease;
}
.theart .imgwrap a:hover { text-decoration:none; color:rgba(255,255,255,1); }

footer { margin:100px auto 0 auto; padding:0 0 30px 0; width:100%; font-size:.9em; clear:both; }
footer .github { float:right; }

.form input {
    border:1px solid #024C68;
    background:rgba(255,255,255,.3);
    -webkit-transition:background-color .5s ease-in;
    -mox-transition:background-color .5s ease-in;
    -o-transition:background-color .5s ease-in;
    transition:background-color .5s ease-in;
}
.form input:focus { background:rgba(255,255,255,.7); }


@media only screen and (min-width:601px) and (max-width:1024px) {
    body { font-size:.8em; }
    .form { padding:40px 20px 30px 20px; }
    form ul li:first-child { margin:0 9% 0 0; }
    input#submit{
        width:30%;
    }
    .theart .quotecont { top:50px; }
}


@media only screen and (max-width:600px) {
    body{
        font-size:.75em;
    }
    .form { padding:25px 10px 20px 10px; }
    form ul li:first-child { margin:0 8% 0 0; }
    input#submit{
        width:40%;
    }
    .theart .quotecont { top:25px; }
}
 